@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-basket:before {
  content: "\e901";
}

._icon-facebook:before {
  content: "\e902";
}

._icon-instagram:before {
  content: "\e903";
}

._icon-twitter:before {
  content: "\e904";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 14px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #1a1a1a;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0px 15px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 12px;
  color: #f7f7f7;
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
  z-index: 1;
}

input[type=email] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=email]:focus {
  outline: none;
}

.input {
  border-radius: 0;
  width: 100%;
  display: block;
  min-height: 48px;
  padding: 0px 18px;
  border: 1px solid #242424;
  font-size: 16px;
  line-height: 140%;
}

.more {
  position: relative;
  display: inline-block;
  min-height: 42px;
  color: inherit;
  font-size: 14px;
}

.more._anim-items {
  opacity: 0;
  -webkit-transform: translate(0px, 50%);
      -ms-transform: translate(0px, 50%);
          transform: translate(0px, 50%);
}

.more._anim {
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.more__text {
  position: relative;
  padding-right: 20px;
  margin-bottom: 5px;
  line-height: 150%;
  -webkit-transition: margin-bottom 0.3s ease 0s;
  -o-transition: margin-bottom 0.3s ease 0s;
  transition: margin-bottom 0.3s ease 0s;
}

.more__text::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
  height: 1px;
  bottom: 0;
  right: 0;
  background-color: #1a1a1a;
  pointer-events: none;
}

.more__arrow {
  line-height: 1 !important;
  padding-left: 2px;
}

._lazy {
  background: url(../img/loading.gif) center/50px no-repeat;
}

._anim-show._anim-items {
  opacity: 0;
}

._anim-show._anim {
  -webkit-transform: translate(0px, 0px) !important;
      -ms-transform: translate(0px, 0px) !important;
          transform: translate(0px, 0px) !important;
  opacity: 1;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__container {
  max-width: 1274px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #292929;
}

.header__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 265px;
}

.header__logo img {
  max-width: 100%;
}

.menu__link {
  color: inherit;
}

.links-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 8px;
}

.links-header__item:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0.8571428571em 0px 0px;
}

.links-header__link {
  font-size: 14px;
  font-size: 14px;
  line-height: 129%;
  color: inherit;
}

.links-header__link._icon-basket {
  font-size: 18px;
}

.icon-menu {
  display: none;
}

.hello {
  position: relative;
  z-index: 2;
  height: 100vh;
}

.hello__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

.hello__content {
  color: #fff;
}

.hello__title {
  font-size: 18px;
  line-height: 158%;
  margin: 0px 0px 2px 0px;
}

.hello__title._anim-items {
  -webkit-transform: translate(0px, 50%);
      -ms-transform: translate(0px, 50%);
          transform: translate(0px, 50%);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.hello__more {
  min-height: 45px;
  margin: 0px 0px 8px 0px;
}

.hello__more .more__text {
  font-size: 15px;
}

.hello__more .more__text::after {
  background-color: #fff;
}

.hello__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.products__container {
  padding-top: 40px;
  padding-bottom: 172px;
}

.products__button-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__button-parent._anim-items {
  -webkit-transform: translate(0px, 20%);
      -ms-transform: translate(0px, 20%);
          transform: translate(0px, 20%);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.products__button {
  min-width: 302px;
  min-height: 56px;
  font-size: 20px;
}

.products__filter {
  margin-bottom: 65px;
}

.filter__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.filter__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 17px;
  margin: 0px -2.8235294118em -20px 0px;
}

.filter__links._anim-items {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translate(50%, 0px);
      -ms-transform: translate(50%, 0px);
          transform: translate(50%, 0px);
}

.filter__link {
  line-height: 159%;
  color: #b3b3b3;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  margin: 0px 2.8235294118em 20px 0px;
}

.filter__link._no-touch {
  pointer-events: none;
}

.filter__link._opened {
  pointer-events: none;
  color: #1a1a1a;
}

.filter__link._opened::after {
  width: 105%;
  background-color: #1a1a1a;
}

.filter__link::after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color: #b3b3b3;
  margin-top: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.filter__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -20px;
}

.filter__card {
  -webkit-transition: all 0.15s ease 0s;
  -o-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
}

.filter__card._hide {
  -webkit-animation: hide 0s ease 0s forwards;
          animation: hide 0s ease 0s forwards;
}

.filter__card._show {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

@-webkit-keyframes hide {
  0% {
    visibility: visible;
    height: 100px;
  }

  100% {
    visibility: hidden;
    width: 0;
    -webkit-box-flex: 0;
            flex: 0 0 0;
    height: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
  }
}

@keyframes hide {
  0% {
    visibility: visible;
    height: 100px;
  }

  100% {
    visibility: hidden;
    width: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0px;
            flex: 0 0 0;
    height: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
  }
}

.card-filter__item {
  padding-bottom: 49px;
}

.card-filter__item._anim-items {
  -webkit-transform: translate(0px, 20%);
      -ms-transform: translate(0px, 20%);
          transform: translate(0px, 20%);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.card-filter__item._anim {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.card-filter__image {
  display: block;
  overflow: hidden;
  padding: 0px 0px 124% 0px;
  margin: 0px 0px 1.1818181818em 0px;
  background: url(../img/loading.gif) center/50px no-repeat;
}

.card-filter__title {
  line-height: 120%;
  margin: 0px 0px 0.4666666667em 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-filter__title a {
  font-size: 15px;
  color: inherit;
  margin: 0px 0.3333333333em 0px 0px;
}

.card-filter__title span {
  font-size: 14px;
  color: #a8a8a8;
}

.card-filter__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-filter__price {
  font-size: 13px;
  text-transform: uppercase;
}

.card-filter__price_hot {
  margin: 0px 0px 0px 0.6153846154em;
  color: #ff3451;
}

.final .banner__title {
  font-size: 38px;
  line-height: 120%;
}

.gather .banner__title {
  font-size: 37px;
  line-height: 123%;
}

.banner {
  background: #ced3ca;
}

.banner__container {
  padding-top: 127px;
  padding-bottom: 127px;
}

.banner__body {
  background: #f7f7f7;
}

.banner__title._anim-items {
  -webkit-transform: translate(20%, 0px);
      -ms-transform: translate(20%, 0px);
          transform: translate(20%, 0px);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.banner__text {
  font-size: 15px;
  line-height: 140%;
}

.banner__text._anim-items {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translate(-30%, 0px);
      -ms-transform: translate(-30%, 0px);
          transform: translate(-30%, 0px);
}

.banner__image {
  display: block;
  overflow: hidden;
}

.banner__image._anim-items {
  -webkit-transform: translate(-5%, 0px);
      -ms-transform: translate(-5%, 0px);
          transform: translate(-5%, 0px);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.misson__container {
  padding-top: 113px;
  padding-bottom: 93px;
}

.misson__title {
  font-size: 30px;
  line-height: 120%;
  margin: 0px 0px 3.0666666667em 0px;
  text-align: center;
}

.misson__title._anim-items {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translate(0px, 20%);
      -ms-transform: translate(0px, 20%);
          transform: translate(0px, 20%);
}

.types-mission {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 48px auto;
  -ms-grid-columns: 1fr 116px 1fr;
      grid-template: auto auto/1fr 1fr;
  -webkit-column-gap: 116px;
     -moz-column-gap: 116px;
          column-gap: 116px;
  row-gap: 48px;
}

.types-mission__type {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translate(10%, 0px);
      -ms-transform: translate(10%, 0px);
          transform: translate(10%, 0px);
}

.types-mission__type_woman._anim-items {
  -webkit-transform: translate(-10%, 0px);
      -ms-transform: translate(-10%, 0px);
          transform: translate(-10%, 0px);
}

.types-mission__type_bg {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.types-mission__type_bg._anim-items {
  -webkit-transform: translate(0px, 10%);
      -ms-transform: translate(0px, 10%);
          transform: translate(0px, 10%);
}

.types-mission__type_bg .types-mission__image {
  padding: 0px 0px 56.6379310345% 0px;
}

.types-mission__image {
  display: block;
  overflow: hidden;
  padding: 0px 0px 123.9463601533% 0px;
  margin-bottom: 7px;
}

.types-mission__more {
  min-height: 48px;
  font-size: 16px;
}

.types-mission__more .more__text {
  line-height: 150%;
}

.studio {
  position: relative;
  z-index: 2;
  color: #fff;
}

.studio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.studio__body {
  text-align: center;
  padding: 20px 0px;
}

.studio__title {
  font-size: 35px;
  line-height: 154%;
  margin: 0px 0px 0.1428571429em 0px;
}

.studio__title._anim-items {
  -webkit-transform: translate(0px, 20%);
      -ms-transform: translate(0px, 20%);
          transform: translate(0px, 20%);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.studio__more {
  min-height: 45px;
}

.studio__more .more__text {
  padding-right: 0;
}

.studio__more .more__text::after {
  background-color: #fff;
}

.studio__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  z-index: -1;
}

.contact {
  background-color: #ced3ca;
}

.contact__container {
  padding-top: 82px;
  padding-bottom: 129px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__body {
  max-width: 420px;
  padding: 0px 5px;
  text-align: center;
}

.contact__title {
  font-size: 34px;
  line-height: 120%;
  margin: 0px 0px 0.5588235294em 0px;
}

.contact__title._anim-items {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translate(0px, 50%);
      -ms-transform: translate(0px, 50%);
          transform: translate(0px, 50%);
}

.contact__text {
  font-size: 16px;
  line-height: 140%;
  margin: 0px 0px 3.5em 0px;
}

.contact__text._anim-items {
  -webkit-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
  -webkit-transform: translate(0px, 40%);
      -ms-transform: translate(0px, 40%);
          transform: translate(0px, 40%);
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.contact__form button {
  font-size: 24px;
  min-height: 48px;
  padding: 0px 17px;
  border: 1px solid #242424;
  border-left: none;
}

.contact__form button span {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  pointer-events: none;
  display: block;
}

.contact__form._anim-items {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translate(-30%, 0px);
      -ms-transform: translate(-30%, 0px);
          transform: translate(-30%, 0px);
}

.footer__container {
  padding-top: 84px;
  padding-bottom: 104px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-footer {
  margin-right: 20px;
}

.menu-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-footer__body._anim-items .menu-footer__list {
  opacity: 0;
  -webkit-transform: translate(0px, 30%);
      -ms-transform: translate(0px, 30%);
          transform: translate(0px, 30%);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.menu-footer__body._anim .menu-footer__list {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.menu-footer__list:not(:last-child) {
  padding-right: 50px;
}

.menu-footer__item:not(:last-child) {
  margin: 0px 0px 0.9333333333em 0px;
}

.menu-footer__link {
  color: inherit;
  font-size: 15px;
  line-height: 120%;
}

.main-footer__rights {
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  font-size: 15px;
  line-height: 140%;
}

.main-footer__rights._anim-items {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translate(-10%, 0px);
      -ms-transform: translate(-10%, 0px);
          transform: translate(-10%, 0px);
}

.main-footer__logo {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  display: block;
}

.main-footer__logo img {
  max-width: 100%;
}

.main-footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-footer__icons._anim-items {
  -webkit-transform: translate(10%, 0px);
      -ms-transform: translate(10%, 0px);
          transform: translate(10%, 0px);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.main-footer__icon {
  font-size: 30px;
}

.main-footer__icon::before {
  color: #000;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 479.98px) {
  .card-filter__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card-filter__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .footer__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .main-footer__rights {
    margin-bottom: calc(15px + 21 * (((100vw - 479.98px)) / ((960.02))));
  }

  .main-footer__rights {
    -ms-grid-rows: auto auto;
    -ms-grid-columns: 1fr auto;
        grid-template: auto auto/1fr auto;
    text-align: right;
  }

  .main-footer__icons {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .main-footer__icon:not(:last-child) {
    margin: 0px 0.5333333333em 0px 0px;
  }
}

@media (min-width: 767.98px) {
  .upheader {
    background: #ced3ca;
  }

  .upheader__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .upheader._anim-items .upheader__body {
    -webkit-transform: translate(0px, -10%);
        -ms-transform: translate(0px, -10%);
            transform: translate(0px, -10%);
    opacity: 0;
  }

  .upheader._anim .upheader__body {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }

  .upheader__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 9px 0px 8px 8px;
  }

  .upheader__text {
    font-size: 14px;
    line-height: 140%;
    position: relative;
    margin: 0px 16px 0px 0px;
    color: #000;
    padding-left: 25px;
  }

  .upheader__text span {
    font-size: 11px;
    position: absolute;
    left: 8px;
    top: -1px;
  }

  .upheader__button {
    min-width: 113px;
    min-height: 28px;
    -webkit-transform: translate(4px, 1px);
        -ms-transform: translate(4px, 1px);
            transform: translate(4px, 1px);
  }

  .header__container._anim-items .header__main,
  .header__container._anim-items .header__links {
    opacity: 0;
    -webkit-transform: translate(0px, 20%);
        -ms-transform: translate(0px, 20%);
            transform: translate(0px, 20%);
  }

  .header__container._anim .header__main,
  .header__container._anim .header__links {
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .header__body {
    padding-top: calc(20px + 12 * (((100vw - 767.98px)) / ((672.02))));
  }

  .header__body {
    padding-bottom: calc(25px + 17 * (((100vw - 767.98px)) / ((672.02))));
  }

  .header__logo {
    margin-right: calc(10px + 40 * (((100vw - 767.98px)) / ((672.02))));
  }

  .header__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 16px;
  }

  .menu__item:not(:last-child) {
    margin: 0px 2em 0px 0px;
  }

  .menu__link {
    line-height: 20px;
  }

  .links-header__item:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #1a1a1a;
    margin: 0px 0px 0px 12px;
  }

  .final .banner__title {
    margin: 0px 0px 0.8684210526em 0px;
  }

  .gather .banner__title {
    margin: 0px 0px 0.5526315789em 0px;
  }

  .banner__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .banner__content {
    min-height: calc(300px + 106 * (((100vw - 767.98px)) / ((672.02))));
  }

  .banner__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 406px;
            flex: 0 1 406px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .banner__paragraph {
    padding: 20px;
  }

  .banner__title span {
    display: block;
  }

  .banner__text {
    margin-bottom: calc(15px + 17 * (((100vw - 767.98px)) / ((672.02))));
  }

  .banner__text span {
    display: block;
  }

  .banner__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 754px;
            flex: 0 1 754px;
  }

  .menu-footer__list {
    min-width: calc(200px + 100 * (((100vw - 767.98px)) / ((672.02))));
  }
}

@media (min-width: 767.98px) and (min-width: 991.98px) {
  .upheader__container {
    position: relative;
  }
}

@media (min-width: 767.98px) and (min-width: 767.98px) {
  .menu__link {
    font-size: calc(14px + 2 * (((100vw - 767.98px)) / ((672.02))));
  }
}

@media (min-width: 991.98px) {
  .header__body {
    position: relative;
    padding-right: 30px;
  }

  .header__body::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    display: inline-block;
    background-color: #1a1a1a;
    z-index: 5;
  }

  ._anim-items .header__body::after {
    height: 0;
  }

  ._anim .header__body::after {
    -webkit-transition: height 0.8s ease 0s;
    -o-transition: height 0.8s ease 0s;
    transition: height 0.8s ease 0s;
    height: 115%;
  }

  .card-filter {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    padding-right: 20px;
  }
}

@media (max-width: 1190px) {
  .input {
    font-size: calc(14px + 2 * ((100vw - 320px) / 870));
  }

  .more {
    font-size: calc(12px + 2 * ((100vw - 320px) / 870));
  }

  .more__text {
    padding-right: calc(10px + 10 * ((100vw - 320px) / 870));
  }

  .more__text {
    margin-bottom: calc(1px + 4 * ((100vw - 320px) / 870));
  }

  .header__logo {
    width: calc(80px + 185 * ((100vw - 320px) / 870));
  }

  .links-header__link {
    font-size: calc(12px + 2 * ((100vw - 320px) / 870));
  }

  .links-header__link._icon-basket {
    font-size: calc(14px + 4 * ((100vw - 320px) / 870));
  }

  .hello__title {
    font-size: calc(15px + 3 * ((100vw - 320px) / 870));
  }

  .hello__more .more__text {
    font-size: calc(13px + 2 * ((100vw - 320px) / 870));
  }

  .products__container {
    padding-top: calc(30px + 10 * ((100vw - 320px) / 870));
  }

  .products__container {
    padding-bottom: calc(70px + 102 * ((100vw - 320px) / 870));
  }

  .products__filter {
    margin-bottom: calc(40px + 25 * ((100vw - 320px) / 870));
  }

  .filter__menu {
    padding-bottom: calc(30px + 20 * ((100vw - 320px) / 870));
  }

  .filter__links {
    font-size: calc(13px + 4 * ((100vw - 320px) / 870));
  }

  .card-filter__item {
    padding-bottom: calc(23px + 26 * ((100vw - 320px) / 870));
  }

  .card-filter__title a {
    font-size: calc(13px + 2 * ((100vw - 320px) / 870));
  }

  .card-filter__title span {
    font-size: calc(12px + 2 * ((100vw - 320px) / 870));
  }

  .card-filter__price {
    font-size: calc(11px + 2 * ((100vw - 320px) / 870));
  }

  .final .banner__title {
    font-size: calc(22px + 16 * ((100vw - 320px) / 870));
  }

  .gather .banner__title {
    font-size: calc(22px + 15 * ((100vw - 320px) / 870));
  }

  .banner__container {
    padding-top: calc(40px + 87 * ((100vw - 320px) / 870));
  }

  .banner__container {
    padding-bottom: calc(40px + 87 * ((100vw - 320px) / 870));
  }

  .banner__text {
    font-size: calc(13px + 2 * ((100vw - 320px) / 870));
  }

  .misson__container {
    padding-top: calc(40px + 73 * ((100vw - 320px) / 870));
  }

  .misson__container {
    padding-bottom: calc(30px + 63 * ((100vw - 320px) / 870));
  }

  .misson__title {
    font-size: calc(19px + 11 * ((100vw - 320px) / 870));
  }

  .types-mission {
    -webkit-column-gap: calc(10px + 106 * ((100vw - 320px) / 870));
       -moz-column-gap: calc(10px + 106 * ((100vw - 320px) / 870));
            column-gap: calc(10px + 106 * ((100vw - 320px) / 870));
  }

  .types-mission {
    row-gap: calc(10px + 38 * ((100vw - 320px) / 870));
  }

  .types-mission__image {
    margin-bottom: calc(5px + 2 * ((100vw - 320px) / 870));
  }

  .types-mission__more {
    font-size: calc(13px + 3 * ((100vw - 320px) / 870));
  }

  .studio__title {
    font-size: calc(27px + 8 * ((100vw - 320px) / 870));
  }

  .contact__container {
    padding-top: calc(35px + 47 * ((100vw - 320px) / 870));
  }

  .contact__container {
    padding-bottom: calc(45px + 84 * ((100vw - 320px) / 870));
  }

  .contact__title {
    font-size: calc(21px + 13 * ((100vw - 320px) / 870));
  }

  .contact__text {
    font-size: calc(14px + 2 * ((100vw - 320px) / 870));
  }

  .contact__form button {
    font-size: calc(15px + 9 * ((100vw - 320px) / 870));
  }

  .footer__container {
    padding-top: calc(60px + 24 * ((100vw - 320px) / 870));
  }

  .footer__container {
    padding-bottom: calc(70px + 34 * ((100vw - 320px) / 870));
  }

  .menu-footer__list:not(:last-child) {
    padding-right: calc(30px + 20 * ((100vw - 320px) / 870));
  }

  .menu-footer__link {
    font-size: calc(13px + 2 * ((100vw - 320px) / 870));
  }

  .main-footer__rights {
    -webkit-column-gap: calc(15px + 10 * ((100vw - 320px) / 870));
       -moz-column-gap: calc(15px + 10 * ((100vw - 320px) / 870));
            column-gap: calc(15px + 10 * ((100vw - 320px) / 870));
  }

  .main-footer__rights {
    font-size: calc(13px + 2 * ((100vw - 320px) / 870));
  }

  .main-footer__icon {
    font-size: calc(20px + 10 * ((100vw - 320px) / 870));
  }
}

@media (max-width: 991.98px) {
  .filter__content {
    margin-right: -15px;
  }

  .card-filter {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33333%;
            flex: 0 1 33.33333%;
    padding-right: 15px;
  }
}

@media (max-width: 767.98px) {
  .upheader {
    display: none;
  }

  .header__container._anim-items .header__logo,
  .header__container._anim-items .header__links,
  .header__container._anim-items .icon-menu {
    opacity: 0;
    -webkit-transform: translate(0px, 20%);
        -ms-transform: translate(0px, 20%);
            transform: translate(0px, 20%);
  }

  .header__container._anim .header__logo,
  .header__container._anim .header__links,
  .header__container._anim .icon-menu {
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .header__body {
    min-height: 70px;
  }

  .header__logo {
    z-index: 5;
  }

  .header__links {
    z-index: 5;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: #949494;
    overflow-y: auto;
    padding: 80px 15px 15px 15px;
    z-index: 3;
    -webkit-transition: top 0.4s ease 0s;
    -o-transition: top 0.4s ease 0s;
    transition: top 0.4s ease 0s;
  }

  .menu__body._active {
    top: 0;
  }

  .menu__body._active::before {
    top: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    top: -100%;
    left: 0;
    background-color: #fff;
    pointer-events: none;
    z-index: 5;
    -webkit-transition: top 0.4s ease 0s;
    -o-transition: top 0.4s ease 0s;
    transition: top 0.4s ease 0s;
  }

  .menu__link {
    font-size: 30px;
    display: block;
    padding: 20px 0px;
    text-align: center;
  }

  .links-header {
    margin: 0px 20px 0px 0px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu::before,
  .icon-menu::after,
  .icon-menu span {
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu::before,
  .icon-menu::after {
    content: "";
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active::before {
    top: 50%;
    -webkit-transform: translate(0px, -50%) rotate(-45deg);
        -ms-transform: translate(0px, -50%) rotate(-45deg);
            transform: translate(0px, -50%) rotate(-45deg);
  }

  .icon-menu._active::after {
    bottom: 50%;
    -webkit-transform: translate(0px, 50%) rotate(45deg);
        -ms-transform: translate(0px, 50%) rotate(45deg);
            transform: translate(0px, 50%) rotate(45deg);
  }

  .filter__links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .filter__content {
    margin-right: -10px;
  }

  .card-filter {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding-right: 10px;
  }

  .banner__content {
    padding: 20px;
  }

  .banner__title {
    margin: 0px 0px 8px 0px;
  }

  .banner__text {
    margin-bottom: 8px;
  }

  .banner__image {
    padding: 0px 0px 53.8461538462% 0px;
  }
}

@media (max-width: 767.98px) and (max-width: 479.98px) {
  .icon-menu {
    width: 20px;
    height: 12px;
  }
}

@media (max-width: 767.98px) and (max-width: 1190px) {
  .banner__content {
    padding: calc(10px + 10 * ((100vw - 320px) / 870));
  }
}

@media (max-width: 479.98px) {
  .links-header {
    margin: 0px 8px 0px 0px;
  }

  .filter__content {
    margin-right: 0px;
  }

  .card-filter {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding-right: 0;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .menu-footer__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .main-footer {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .main-footer__rights {
    -ms-grid-rows: auto auto;
    -ms-grid-columns: auto 1fr;
        grid-template: auto auto/auto 1fr;
    margin-right: 20px;
  }

  .main-footer__logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }

  .main-footer__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-footer__icons._anim-items {
    -webkit-transform: translate(100%, 0px);
        -ms-transform: translate(100%, 0px);
            transform: translate(100%, 0px);
  }

  .main-footer__icon:not(:last-child) {
    margin: 0px 0px 0.5333333333em 0px;
  }
}

@media (min-width: 767.98px) and (max-width: 1190px) {
  .links-header__item:not(:last-child)::after {
    height: calc(15px + 5 * ((100vw - 320px) / 870));
  }
}

@media (any-hover: hover) {
  .btn {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .btn:hover {
    color: #1a1a1a;
  }

  .btn:hover::after {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .btn::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .more:hover .more__text {
    margin-bottom: 0;
  }

  .more:hover .more__text::after {
    width: 0;
    height: 0;
  }

  .menu__link {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .menu__link:hover {
    color: #b3b3b3;
  }

  .links-header__link {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .links-header__link:hover {
    color: #b3b3b3;
  }

  .filter__link:hover::after {
    width: 100%;
  }

  .card-filter__image img {
    -webkit-transition: opacity 0.5s ease 0s;
    -o-transition: opacity 0.5s ease 0s;
    transition: opacity 0.5s ease 0s;
  }

  .card-filter__image img:hover {
    opacity: 0;
  }

  .types-mission__image img {
    -webkit-transition: -webkit-transform 0.4s ease 0s;
    transition: -webkit-transform 0.4s ease 0s;
    -o-transition: transform 0.4s ease 0s;
    transition: transform 0.4s ease 0s;
    transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
  }

  .types-mission__image img:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .contact__form button:hover span {
    -webkit-transform: translate(10%, 0px);
        -ms-transform: translate(10%, 0px);
            transform: translate(10%, 0px);
  }

  .contact__form button:active span {
    -webkit-transform: translate(25%, 0px);
        -ms-transform: translate(25%, 0px);
            transform: translate(25%, 0px);
  }

  .menu-footer__link {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .menu-footer__link:hover {
    color: #b3b3b3;
  }

  .main-footer__icon:hover::before {
    color: #b3b3b3;
  }

  .main-footer__icon:hover._icon-instagram::before {
    color: #e1306c;
  }

  .main-footer__icon:hover._icon-twitter::before {
    color: #1da1f2;
  }

  .main-footer__icon:hover._icon-facebook::before {
    color: #4267b2;
  }

  .main-footer__icon::before {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }
}

@media (any-hover: none) {
  .card-filter__image .card-filter__image-pc {
    display: none;
  }

  .contact__form button:active span {
    -webkit-transform: translate(10%, 0px);
        -ms-transform: translate(10%, 0px);
            transform: translate(10%, 0px);
  }
}

@media (min-height: 300px) {
  .studio {
    height: 100vh;
  }
}